<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Lingvo</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body class="wood">
    <header class="site-main-header">
        <div class="inner">
            <a class="logo" href="/"></a>
            <b>
                <a class="nav-item" href="#difficulty">Сменить уровень сложности</a>
            </b>
        </div>
    </header>
    <section class="content">{{{body}}}</section>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
