

@media screen and (max-width: 600px) {

.lang-select {
  float: left;
  width: 182px;
  background: #394778;
  padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
}
  .enter-block {
  padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
  float: right;
  width: 120px;
  background: #4e6ba5;
  text-align: center;
  display: none;
}
#center-block {
  width: 100%;
}
.showsettings {
  width: 100%;
}
.menu {
  width: 100%;
  z-index: 1000;
}
.center-content {
  width: 96%;
  margin: 0 auto;
}

.main-header {
    width: 320px;
    border-bottom: none;
  }


#content-wrapper {
  width: 520px;
}
.lang-select span {
    text-align: center;
    margin-left: 10px;
}
#blue-header {
  height: 54px;
}
 body {
    background: white;
  }
  .menu li a:hover {
  color: #cc0f15;
}







}







@media screen and (max-width: 500px) {
 #wrapper {
    width: 320px;
     margin: 0 auto;
  }

#content-wrapper {
  width: 414px;
}

  .main-header {
    width: 414px;
    border-bottom: none;
  }
  .lang-select {
  float: left;
  width: 232px;
  background: #394778;
  padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
}
.enter-block {
  padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
  float: right;
  width: 120px;
  background: #4e6ba5;
  text-align: center;
  display: none;
}
.lang-select span {
    text-align: center;
    margin-left: 30px;
}
  .settings-section, .soc-ic, .soc-p{
    display: none !important;
  }
   #pc-container {
    background: white;
   }
  .pc-container .middle-section {
    width: 320px !important;
  }
    .middle-section .center-content {
    width: 96%;
    background: white;
    padding-left: 0;
    margin-left: 8px;
    margin-top: 15px;
    margin: 0 auto;
  }


  .middle-section {
    width: 320px;
  }
  .header .top-section {
    margin-top: 0;
    padding-top: 16px;
    background: #394778;
    color: white;
    width: 316px;
     font: 14px 'Helvetica', sans-serif;
  }
  .middle-section {
    width: 400px;
    margin: 7 auto;
  }
  .main-header .logo {
    font-size: 18px;
    background: #4e6ba5;
    padding: 0;
    padding-right: 15px;
    width: 108px;
    height: 54px;
  }
  .main-hedaer {
    width: 414px;
  }
  .main-header .logo a {
    color: white;
    padding-left: 16px;
    margin-top: 20px;
  }
  .main-header .header {
    margin-left: 0;
    height: 50px;
    width: 167px;
  }
  .bottom-section .menu li {
      font-size: 14px;  
      margin: 0;
      padding: 0;
      font: 14px 'Helvetica-Med', sans-serif;
      text-transform: none;
      margin-top: 10px;
      float: left;
  }
  .bottom-section .menu li:first-child {
    margin-left: 25px;
    border-right: none;
  }
  .bottom-section>.menu {
    width: 414px;
    height: 34px;
    margin: 0;
    background: #ebebeb;
    position: relative;
    right: 0px;
    top: 49px;
   
  }
  .menu li {
    position: relative;
    top: 2px;
  }

  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .bottom-section {
    margin: 0 auto;
  }
  .settings-section, .logo-p{
    display: none;
  }
  .enter {
    display: block;
    float: right;
    height: 54px;
    width: 53px;
    background: #4e6ba5 url('../img/enter-icon.png') no-repeat;
    background-position: 14px 14px;
    background-size: 50%;
   right: 4px;
    position: absolute;
  }
  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .menu li:first-child {
    border-left: none;
    margin-left: 40px;

  } 
  .menu li a{
    padding-right: 15px;
     padding-left: 15px;
    
  } 
  .menu li:nth-child(4) > a {
    border-right: none;
  }
  .top-line {
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    background: white;
    height: 30px;
    display: block;
  }
  .allocation p {
    font: 13px 'Helvetica', sans-serif;
    background: #fbfeae;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: 30px;
    padding-left: 20%;
    width: 81.3%;
    margin-bottom: 30px;
    z-index: 1;
  }
  .allocation p:after {
    content: '';
    position: absolute;
    top: -8px;
    right: 20px;
    width: 40px;
    height: 40px;
    float: right;
    font-size: 0;
    cursor: pointer;
    background: url("../img/show-cross.png") no-repeat center;
    background-size: 30%;
    cursor: pointer;
   
  }
  .allocation {
    width: 414px;
    margin: 0;
    position: relative;
    bottom: 16px;
    left: -12px;
    
  }
  .showbtn {
    display: none;
  }
  .title-line {
    display: none;
  }
  .center-content {
    padding-top: 0;
  }
  .name-news {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .name-news .word {
    color: black;
  }
  .news {
    background: -webkit-gradient(linear, left top,left bottom,color-stop(0, #000),color-stop(1, #000));, black;
  -webkit-background-clip: text;
  color: transparent;
  }

  .newsinform {
    width: 180px;
    position: relative;
    left: 70px;
    color: grey;
    margin: 0;

  }

  .switch-lang {
    background: #394778;
    border: none;
    padding-right: 6px;
    position: relative;
    top: 0px;
    color: white;
     font: 14px 'Helvetica', sans-serif;
     -webkit-appearance: none;

  }
  .news {
    font: 13px 'Goodosf', sans-serif;
    letter-spacing: 0px;
    height: 115px;
    
  }
  .word {
    line-height: 20px;
  }
  .name-news {
    font: 17px 'Goodosf-Black', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .showsettings {
  display: block;
  width: 414px;
  background: #4e6ba5;
  position: fixed;
  bottom: 3%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.showsettings:after {
  content: '';
  position: fixed;
  bottom: 3%;
  left: 380px;
  z-index: 11;
  width: 40px;
  height: 30px;
  background: #394778 url('../img/gear.png') no-repeat;
  background-position: 45% 45%;


}
 .showspan {
    font: 13px 'Helvetica-Med', sans-serif;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 124px;
  }
  .translate-window {
  width: 266px;
  height: 126px;
  background: white;
  position: fixed;
  z-index: 99;
  left: 54px;
 }
 .dictionaries-section {
  position: fixed;
  z-index: 15;
  left: 0%;
  width: 414px;
  height: 100%;
  bottom: 0%;
  background: white;
  overflow-y: hidden;
  display: none;
}
.dict-title h3:before {
  display: none;
}
.dict-title h3:after {
  display: none;
}
.dict-title h3 a {
  font: 14px 'Helvetica-Bold', sans-serif;
  text-transform: none;
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.dict-title h3 {
  background: white;
  width: 100%;
  margin: 0;
  position: relative;
}
.dict-title h3 a:after {
  content: '';
  width: 20px;
  height: 20px;

  background: url('../img/close.png') no-repeat;
  position: absolute;
  top: 8px;
  left: 90%;
}
.dict-title:after {
  display: none;
}
.left-title-save, .right-col-func-select-1, .left-title-show, .right-col-func-select-2 {
  display: none;
}
.slider-check2 {
  margin-top: 15px;
  position: relative;
  left: 35px;
}
.left-title-auto {
  display: inline-block;
  margin: 0;
  font: 14px 'Helvetica', sans-serif;
  color: black;
}
.left-title-word {
  display: inline-block;
  margin: 0;
   font: 14px 'Helvetica', sans-serif;
   color: black;
   position: relative;
   left: 130px;
}
.slider-check {
  display: inline-block;
  position: relative;
  right: 140px;
  width: 40px;
  height: 18px;
  background: white;
  border: 1px solid #808080;
  box-shadow: none;
  bottom: 1px;
}
.slider-check2 {
  display: inline-block;
  width: 40px;
  height: 18px;
  background: white;
   border: 1px solid #808080;
   box-shadow: none;
   left: 50px;
   bottom: 1px;
   margin-top: 0;
}
.sorting-block-title, .sortby, .time {
  color: black;
  font: 14px 'Helvetica-Med', sans-serif;
}
.slider-check label:after {
  display: none;
}
.slider-check2 label:after {
  display: none;
}
.slider-check:after {
  display: none;
}
.slider-check label {
  width: 18px;
  height: 18px;
  box-shadow: none;
  background: #eeeeee;
   border: 1px solid #808080;
   top: -1px;
   left: -1px;
}
.slider-check2 label {
  width: 18px;
  height: 18px;
  box-shadow: none;
  background: #eeeeee;
  border: 1px solid #808080;
   top: -1px;
   left: -1px;
}
.slider-check input[type=checkbox]:checked + label {
  left: 24px;
}
.slider-check input[type=checkbox]:checked + label {
  border: 1px solid #7cc331;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.slider-check input[type=checkbox]:checked .slider-check {
  background: #7cc331;

}
.slider-check2 input[type=checkbox]:checked + label {
  left: 24px;
}
.slider-check2 input[type=checkbox]:checked + label {
  border: 1px solid #7cc331;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.slider-check2 input[type=checkbox]:checked .slider-check {
  background: #7cc331;

}
.slider-check2:after {
  display: none;
}
.left-col-func {
  width: 160px;
  margin-top: 5px;
}
.right-col-func {
  margin-right: 40px;
 margin-bottom: 2px;
 margin-top: 5px;
}
.functions {
  margin-top: 1px;
  background: #f6f6f6;
}
.sorting-block {
  background: #eeeeee;
  width: 100%;
  margin: 0;
  margin-top: 1px;
  border: none;
}
.sorting-block-title {
  margin-left: 20px;
  margin-top: 0;
  padding-top: 0;
  margin-top: 8px;
}
.sorting-block select {
  background: #eeeeee;
  border: none;
  margin-left: 30px;
  width: 40px;
  margin-top: 8px;

}
.dictionaries-section:after {
  content: 'Edit list';
  width: 234px;
  height: 30px;
  position: absolute;
  bottom: 3%;
  background: #7c1216;
  color: white;
  padding-left: 180px;
  padding-top: 10px;
  font: 14px 'Helvetica', sans-serif;
}
.dictionary:last-child {
  border-bottom: none;
}
.transcription-f h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0;
}
.transcription-f {
  margin-left: 0;
  color: black;
  font: 14px 'Helvetica', sans-serif;
}
.transition-word {
  font: 14px 'Helvetica-Bold', sans-serif;
  color: black;
}
.transcription-word {
  font: 14px 'Helvetica', sans-serif;
  color: #808080;
  margin-right: 20px;
  position: relative;
}
.transcription-word:after {
  content: '';
  height: 1px;
  width: 8px;
  position: absolute;
  background: black;
  top: 9px;
  left: 82px;
}
.sortby:after {
  top: 16px;
  left: 27px;
}
.time:after {
  left: 81px;
  top: 16px;
  right: 90px;
}
.time {
  right: 60px;
}
.dictionary {
    padding-right: 20px;
    height: 340px;
    overflow-y: hidden;
    overflow-x: hidden;
}    
.sign {
  left: 18%;
  background: white;
  z-index: 99;
  opacity: 1;
  display: none;
}
.bg-container {
  background: black;
  opacity: 0.7;
  z-index: 98;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.or-icon {
  color: black;
}
.functions-language {
  color: black;
  position: fixed;
  top: 0;
  width: 414px;
  height: 100%;
  left: 0px;
  z-index: 101;
  background: #ffffff;
}
.functions-language h3 {
  background: #eeeeee;
  width: 414px;
  font: 14px/25px 'Helvetica-Bold', sans-serif;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0;
  position: relative;
}
.functions-language h3:after {
  content: '';
  width: 20px;
  height: 20px;
  top: 6px;
  left: 90%;
  background: url('../img/close.png') no-repeat;
  position: absolute;
}
.functions-language-slider span {
  display: inline-block;
  font: 15px/25px 'Helvetica', sans-serif;
  color: black;
  margin-left: 20px;
  margin-bottom: 5px;

}
input[type=range] {
  display: block;
  width: 90%;
 position: relative;
 top: 8px;
 left: 15px;
  -webkit-appearance: none;

}
input[type=range]::-webkit-slider-thumb {
  
  -webkit-appearance: none;
  }
  input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #a8191d;
  cursor: pointer;
  margin-top: -4px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 96%;
  height: 8px;
  cursor: pointer;
  background: #dddddd;
  border-radius: 5px;
  outline: none;
}
.functions-checkbox-settings {
  display: none;
}

.functions-checkbox-settings + label{
  position: relative;
  
  cursor: pointer;
}
.functions-checkbox-settings + label::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: -25px;
  bottom: -2px;
  border: 1px solid #808080;
  background: white;
}

.functions-checkbox-settings:checked + label::before{
  background: white url("../img/checkbox.png") no-repeat;
  background-position: 1px 3px;
}
.functions-news-title {
  margin-top: 12px;
  margin-left: 20px;
  font: 14px/25px 'Helvetica-Bold', sans-serif;
  margin-bottom: 2px;

}
.functions-box {

  margin-left: 18px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.functions-box label {
  margin-left: 28px;
}
.functions-language {
  display: none;
}

.translate-window-translate {
  display: block;
  font-family: 'HelveticaNeu', sans-serif

}
.translate-window-transcription {
  font-family: 'HelveticaNeu', sans-serif;
}














}

@media screen and (max-width: 400px) {
  body {
    background: white;
  }
  #wrapper {
    width: 320px;
     margin: 0 auto;
  }
 
#content-wrapper {
  width: 370px;
  margin: 0;
}
.lang-select span {
    text-align: center;
    margin-left: 30px;
}
  .main-header {
    width: 375px;
    border-bottom: none;
  }
  .settings-section, .soc-ic, .soc-p{
    display: none !important;
  }
  
  .pc-container .middle-section {
    width: 320px !important;
  }
   .middle-section .center-content {
    width: 365px;
    margin-left: 10px;
    background: white;
  }
  .middle-section {
    width: 320px;
  }
  .enter-block {
  padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
  float: right;
  width: 120px;
  background: #4e6ba5;
  text-align: center;
  display: none;
}
  .lang-select {
  float: left;
  width: 222px;
  background: #394778;
  padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
}
  .header .top-section {
    margin-top: 0;
    padding-top: 16px;
    background: #7c1216;
    color: white;
    width: 277px;
     font: 14px 'Helvetica', sans-serif;
  }
  .center-content {
    margin: 0;
    width: 320px;
    padding-left: 0;
  }
  .middle-section {
    width: 375px;
    margin: 0;
  }
  .main-header .logo {
    font-size: 18px;
    background: #4e6ba5;
    padding: 0;
    padding-right: 15px;
    width: 80px;
    height: 54px;
  }
  .main-header .logo a {
    color: white;
    position: relative;
    right: 10px;
   margin-top: 20px;
  }
  .main-header .header {
    margin-left: 0;
    height: 50px;
    width: 167px;
  }
  .bottom-section .menu li {
      font-size: 14px;  
      margin: 0;
      padding: 0;
      font: 14px 'Helvetica-Med', sans-serif;
      text-transform: none;
      margin-top: 10px;
      float: left;
  }
  .bottom-section>.menu {
    width: 375px;
    height: 34px;
    margin: 0;
    background: #ebebeb;
    position: relative;
    bottom: 2px;
   
  }

  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .bottom-section {
    margin: 0 auto;
  }
  .settings-section, .logo-p{
    display: none;
  }
  .enter {
    display: block;
    float: right;
    height: 54px;
    width: 53px;
    background: #4e6ba5 url('../img/enter-icon.png') no-repeat;
    background-position: 15px 15px;
    position: relative;
    background-size: 50%;
    top: 0px;
  }
  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .menu li:first-child {
    border-left: none;
    margin-left: 25px;

  } 
  .menu li a{
    padding-right: 10px;
     padding-left: 10px;
    
  } 
  .menu li:nth-child(4) > a {
    border-right: none;
  }
  .top-line {
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    height: 30px;
    display: block;
    background: white;
  }
  .allocation p {
    font: 13px 'Helvetica', sans-serif;
    background: #fbfeae;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    padding-left: 20%;
    bottom: 25px;
    width: 86%
  }
  .allocation p:after {
    content: '';
    position: absolute;
    top: -7px;
    left: 330px;
    width: 40px;
    height: 40px;
    float: right;
    font-size: 0;
    cursor: pointer;
    background: url("../img/show-cross.png") no-repeat center;
    background-size: 30%;
    cursor: pointer;
   
  }
  .allocation {
    width: 375px;
    margin: 0;
    position: relative;
    bottom: 16px;
    left: -25px;
    
  }
  .showbtn {
    display: none;
  }
  .title-line {
    display: none;
  }
  .center-content {
    padding-top: 0;

  }
  .name-news {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }
  .name-news .word {
    color: black;
  }
  .news {
    background: -webkit-gradient(linear, left top,left bottom,color-stop(0, #000),color-stop(1, #000));, black;
  -webkit-background-clip: text;
  color: transparent;
  }

  .newsinform {
    width: 180px;
    position: relative;
    bottom: 14px;
    left: 130px;
    color: grey;
    display: block;
    margin: 0;

  }

  .switch-lang {
    background: #394778;
    border: none;
    padding-right: 6px;
  
    position: relative;
    top: 0px;
    color: white;
     font: 14px 'Helvetica', sans-serif;
     -webkit-appearance: none;

  }
  .news {
    font: 13px 'Helvetica-Med', sans-serif;
    height: 100px;
  }
  .name-news {
    font: 17px 'Helvetica-Bold', sans-serif;
    margin-bottom: 10px;
  }
  .showsettings {
  display: block;
  width: 375px;
  background: #4e6ba5;
  position: fixed;
  bottom: 0px;
  right: 0%;
  z-index: 10;
  padding-top: 7px;
  padding-bottom: 7px;

}
.showsettings:after {
  content: '';
  position: fixed;
  bottom: 0%;
  left: 336px;
  z-index: 9;
  width: 40px;
  height: 30px;
  background: #394778 url('../img/gear.png') no-repeat;
  background-position: 45% 45%;


}
 .showspan {
    font: 13px 'Helvetica-Med', sans-serif;
    text-align: center;
    margin-left: 30%;
  }
  .translate-window {
  width: 266px;
  height: 126px;
  background: white;
  position: fixed;
  z-index: 99;
  left: 54px;
 }
 .dictionaries-section {
  position: fixed;
  z-index: 15;
  left: 0%;
  width: 375px;
  height: 100%;
  bottom: 0%;
  background: white;
  overflow-x: hidden;
  display: none;
}
.dict-title h3:before {
  display: none;
}
.dict-title h3:after {
  display: none;
}
.dict-title h3 a {
  font: 14px 'Helvetica-Bold', sans-serif;
  text-transform: none;
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.dict-title h3 {
  background: white;
  width: 100%;
  margin: 0;
  position: relative;
}
.dict-title h3 a:after {
  content: '';
  width: 20px;
  height: 20px;

  background: url('../img/close.png') no-repeat;
  position: absolute;
  top: 8px;
  left: 90%;
}
.dict-title:after {
  display: none;
}
.left-title-save, .right-col-func-select-1, .left-title-show, .right-col-func-select-2 {
  display: none;
}
.slider-check2 {
  margin-top: 15px;
  position: relative;
  left: 35px;
}
.left-title-auto {
  display: inline-block;
  margin: 0;
  font: 14px 'Helvetica', sans-serif;
  color: black;
}
.left-title-word {
  display: inline-block;
  margin: 0;
   font: 14px 'Helvetica', sans-serif;
   color: black;
   position: relative;
   left: 130px;
}
.slider-check {
  display: inline-block;
  position: relative;
  right: 140px;
  width: 40px;
  height: 18px;
  background: white;
  border: 1px solid #808080;
  box-shadow: none;
  bottom: 1px;
}
.slider-check2 {
  display: inline-block;
  width: 40px;
  height: 18px;
  background: white;
   border: 1px solid #808080;
   box-shadow: none;
   left: 50px;
   bottom: 1px;
   margin-top: 0;
}
.sorting-block-title, .sortby, .time {
  color: black;
  font: 14px 'Helvetica-Med', sans-serif;
}
.slider-check label:after {
  display: none;
}
.slider-check2 label:after {
  display: none;
}
.slider-check:after {
  display: none;
}
.slider-check label {
  width: 18px;
  height: 18px;
  box-shadow: none;
  background: #eeeeee;
   border: 1px solid #808080;
   top: -1px;
   left: -1px;
}
.slider-check2 label {
  width: 18px;
  height: 18px;
  box-shadow: none;
  background: #eeeeee;
  border: 1px solid #808080;
   top: -1px;
   left: -1px;
}
.slider-check input[type=checkbox]:checked + label {
  left: 24px;
}
.slider-check input[type=checkbox]:checked + label {
  border: 1px solid #7cc331;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.slider-check input[type=checkbox]:checked .slider-check {
  background: #7cc331;

}
.slider-check2 input[type=checkbox]:checked + label {
  left: 24px;
}
.slider-check2 input[type=checkbox]:checked + label {
  border: 1px solid #7cc331;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.slider-check2 input[type=checkbox]:checked .slider-check {
  background: #7cc331;

}
.slider-check2:after {
  display: none;
}
.left-col-func {
  width: 160px;
  margin-top: 5px;
}
.right-col-func {
  margin-right: 40px;
 margin-bottom: 2px;
 margin-top: 5px;
}
.functions {
  margin-top: 1px;
  background: #f6f6f6;
}
.sorting-block {
  background: #eeeeee;
  width: 100%;
  margin: 0;
  margin-top: 1px;
  border: none;
}
.sorting-block-title {
  margin-left: 20px;
  margin-top: 0;
  padding-top: 0;
  margin-top: 8px;
}
.sorting-block select {
  background: #eeeeee;
  border: none;
  margin-left: 30px;
  width: 40px;
  margin-top: 8px;

}
.dictionaries-section:after {
  content: 'Edit list';
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0%;
  background: #7c1216;
  color: white;
  padding-left: 45%;
  padding-top: 10px;
  font: 14px 'Helvetica', sans-serif;
}
.dictionary:last-child {
  border-bottom: none;
}
.transcription-f h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0;
}
.transcription-f {
  margin-left: 0;
  color: black;
  font: 14px 'Helvetica', sans-serif;
}
.transition-word {
  font: 14px 'Helvetica-Bold', sans-serif;
  color: black;
}
.transcription-word {
  font: 14px 'Helvetica', sans-serif;
  color: #808080;
  margin-right: 20px;
  position: relative;
}
.transcription-word:after {
  content: '';
  height: 1px;
  width: 8px;
  position: absolute;
  background: black;
  top: 9px;
  left: 82px;
}
.sortby:after {
  top: 16px;
  left: 27px;
}
.time:after {
  left: 81px;
  top: 16px;
  right: 90px;
}
.time {
  right: 60px;
}
.sign {
  left: 13%;
  background: white;
  z-index: 99;
  opacity: 1;
  bottom: 14%;
}
.functions-language h3:after {
  content: '';
  width: 20px;
  height: 20px;
  top: 6px;
  left: 82%;
  background: url('../img/close.png') no-repeat;
  position: absolute;
}

.functions-language-slider span {
  display: inline-block;
  font: 15px/25px 'Helvetica', sans-serif;
  color: black;
  margin-left: 20px;
  margin-bottom: 5px;

}
input[type=range] {
  display: block;
  width: 86%;
 position: relative;
 top: 8px;
 left: 2%;
  -webkit-appearance: none;

}
input[type=range]::-webkit-slider-thumb {
  
  -webkit-appearance: none;
  }
  input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #a8191d;
  cursor: pointer;
  margin-top: -4px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 92%;
  height: 8px;
  cursor: pointer;
  background: #dddddd;
  border-radius: 5px;
  outline: none;
}
.functions-language-slider span {
  display: inline-block;
  font: 15px/25px 'Helvetica', sans-serif;
  color: black;
  margin-left: 10px;
  margin-bottom: 5px;

}
.functions-news-title {
  margin-top: 10px;
  margin-left: 10px;
  font: 14px/25px 'Helvetica-Bold', sans-serif;
  margin-bottom: 2px;

}
.functions-box {
  margin-left: 8px;
}























}

@media screen and (max-width: 370px) {

  #wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .middle-section {
    width: 320px;
  }
 
#content-wrapper {
  width: 320px;
}
  .main-header {
    width: 320px;
    margin: 0;
    height: 51px;
    border: none;
  }
  .lang-select span {
    text-align: center;
    margin-left: 10px;
}
  .lang-select {
  float: left;
  width: 176px;
  background: #394778;
  padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
}
.enter-block {
  padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  color: white;
  float: right;
  width: 120px;
  background: #4e6ba5;
  text-align: center;
  display: none;
}
  .settings-section, .logo-p{
    display: none;
  }
  .header .top-section {
    margin-top: 0;
    padding-top: 16px;
    background: #7c1216;
    color: white;
    width: 243px;
  }

  .middle-selection .center-content {
    margin: 0;
    width: 305px;
    padding-left: 10px;
  }
  .main-header .logo {
    font-size: 18px;
    background: #4e6ba5;
    padding: 0;
    padding-right: 15px;
    width: 78px;
    height: 54px;
  }
  .main-header .logo a {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-left: 18px;
  }
  .main-header .header {
    margin-left: 0;
    height: 30px;
    width: 320px;
  }
  .bottom-section .menu li {
    margin: 0;
    margin-top: 8px;
  }
  .bottom-section .menu li:first-child {
    margin-left: 10px;
  }
  .bottom-section .menu li a{
    margin: 0;
      font-size: 15px;  
     padding-right: 5px;
     padding-left: 5px;

  }
  .top-section {
    position: relative;
    bottom: 51px;
    left: 67px;
    margin-left: 10px;
    width: 243px;
    height: 19px;
  }
 
  .bottom-section>.menu {
    width: 320px;
    position: relative;
    top: 50px;
    background: #ebebeb;
    right: 0;
    
   
   
  }
   .name-news {
    margin-top: 10px;
    font: 17px 'Helvetica-Bold', sans-serif;
  }
  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .menu li:first-child {
    border-left: none;
    margin-left: 20px;
  } 
  .menu li {
    margin: 0;
  }
  .bottom-section .menu li a{
    padding-right: 10px;
    padding-left: 10px;
    
  } 
  .menu li:nth-child(4) > a {
    border-right: none;
  }

  .bottom-section {
    margin: 0 auto;
  }
  .enter {
    display: block;
    float: right;
    height: 54px;
    width: 53px;
    background: #4e6ba5 url('../img/enter-icon.png') no-repeat;
    background-position: 14px 14px;
    position: relative;
    top: -54px;
    background-size: 50%;
  }

  .switch-lang {
     
      background: transparent;
      border: none;
      padding-right: 5px;
      color: white;
      width: auto;
      height: auto;
       font: 14px 'Helvetica', sans-serif;
       -webkit-appearance: none;

  }
  .switch-lang:after {
     
     content: '';

  }
  .allocation p {
    font: 13px 'Helvetica', sans-serif;
   
  }
   .newsinform {
    width: 180px;
    position: relative;
    bottom: 137px;
    left: 70px;
    color: grey;
    margin: 0;
    display: none;

  }
  .name-news {
    font: 14px 'Helvetica-Bold', sans-serif;
  }
  .allocation {
    width: 320px;
    margin: 0;
    position: relative;
    left: 0;
    top: 28px;

  }
  .allocation p {
    width: 90%;
    position: relative;
    top: 1px;
    left: 0px;
    padding-left: 10%;
  }

  .showsettings {
    width: 320px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    
  }
  .showsettings:after {
  content: '';
  position: fixed;
  bottom: 0px;
  left: 282px;
  z-index: 11;
  width: 40px;
  height: 30px;
  background: #394778 url('../img/gear.png') no-repeat;
  background-position: 45% 45%;


}
  .novelty {
    width: 300px;
    margin: 0 auto;
  }
  .showspan {
    font: 13px 'Helvetica-Med', sans-serif;
    text-align: center;
  }
   .translate-window {
  width: 266px;
  height: 126px;
  background: white;
  position: fixed;
  z-index: 99;
  left: 27px;
 }
 .dictionaries-section {
  position: fixed;
  z-index: 15;
  left: 0%;
  width: 320px;
  height: 100%;
  bottom: 0%;
  background: white;
  display: none;
}
.dict-title h3:before {
  display: none;
}
.dict-title h3:after {
  display: none;
}
.dict-title h3 a {
  font: 14px 'Helvetica-Bold', sans-serif;
  text-transform: none;
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.dict-title h3 {
  background: white;
  width: 100%;
  margin: 0;
  position: relative;
}
.dict-title h3 a:after {
  content: '';
  width: 20px;
  height: 20px;

  background: url('../img/close.png') no-repeat;
  position: absolute;
  top: 8px;
  left: 90%;
}
.dict-title:after {
  display: none;
}
.left-title-save, .right-col-func-select-1, .left-title-show, .right-col-func-select-2 {
  display: none;
}
.slider-check2 {
  margin-top: 15px;
  position: relative;
  left: 35px;
}
.left-title-auto {
  display: inline-block;
  margin: 0;
  font: 14px 'Helvetica', sans-serif;
  color: black;
}
.left-title-word {
  display: inline-block;
  margin: 0;
   font: 14px 'Helvetica', sans-serif;
   color: black;
   position: relative;
   left: 150px;
   bottom: 16px;
   
}
.slider-check {
  display: inline-block;
  position: relative;
  right: 110px;
  width: 40px;
  height: 18px;
  background: white;
  border: 1px solid #808080;
  box-shadow: none;
  right: 100px;
  bottom: 1px;
}
.slider-check2 {
  display: inline-block;
  width: 40px;
  height: 18px;
  background: white;
   border: 1px solid #808080;
   box-shadow: none;
   left: 50px;
   bottom: 1px;
   margin-top: 0;
}
.sorting-block-title, .sortby, .time {
  color: black;
  font: 14px 'Helvetica-Med', sans-serif;
}
.slider-check label:after {
  display: none;
}
.slider-check2 label:after {
  display: none;
}
.slider-check:after {
  display: none;
}
.slider-check label {
  width: 18px;
  height: 18px;
  box-shadow: none;
  background: #eeeeee;
   border: 1px solid #808080;
   top: -1px;
   left: -1px;
}
.slider-check2 label {
  width: 18px;
  height: 18px;
  box-shadow: none;
  background: #eeeeee;
  border: 1px solid #808080;
   top: -1px;
   left: -1px;
}
.slider-check input[type=checkbox]:checked + label {
  left: 24px;
}
.slider-check input[type=checkbox]:checked + label {
  border: 1px solid #7cc331;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.slider-check input[type=checkbox]:checked .slider-check {
  background: #7cc331;

}
.slider-check2 input[type=checkbox]:checked + label {
  left: 24px;
}
.slider-check2 input[type=checkbox]:checked + label {
  border: 1px solid #7cc331;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.slider-check2 input[type=checkbox]:checked .slider-check {
  background: #7cc331;

}
.slider-check2:after {
  display: none;
}
.left-col-func {
  width: 100px;
  margin-top: 5px;
}
.right-col-func {
 margin-bottom: 2px;
 margin-top: 5px;
 margin-right: 42px;
}
.functions {
  margin-top: 1px;
  background: #f6f6f6;
}
.sorting-block {
  background: #eeeeee;
  width: 100%;
  margin: 0;
  margin-top: 1px;
  border: none;
}
.sorting-block-title {
  margin-left: 20px;
  margin-top: 0;
  padding-top: 0;
  margin-top: 8px;
}
.sorting-block select {
  background: #eeeeee;
  border: none;
  margin-left: 30px;
  width: 40px;
  margin-top: 8px;

}
.dictionaries-section:after {
  content: 'Edit list';
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0%;
  background: #7c1216;
  color: white;
  padding-left: 42%;
  padding-top: 10px;
  font: 14px 'Helvetica', sans-serif;
}
.dictionary:last-child {
  border-bottom: none;
}
.transcription-f h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0;
}
.transcription-f {
  margin-left: 0;
  color: black;
  font: 14px 'Helvetica', sans-serif;
  width: 320px;
}
.transition-word {
  font: 14px 'Helvetica-Bold', sans-serif;
  color: black;
}
.transcription-word {
  font: 14px 'Helvetica', sans-serif;
  color: #808080;
  margin-right: 20px;
  position: relative;
}
.transcription-word:after {
  content: '';
  height: 1px;
  width: 8px;
  position: absolute;
  background: black;
  top: 9px;
  left: 82px;
}
.sortby:after {
  top: 16px;
  left: 27px;
}
.time:after {
  left: 81px;
  top: 16px;
  right: 90px;
}
.time {
  right: 60px;
}
.sign {
  left: 8%;
  bottom: 9%;
  background: white;
  z-index: 99;
  opacity: 1;
}
input[type=range] {
  display: block;
  width: 71%;
 position: relative;
 top: 8px;
 left: 3%;
  -webkit-appearance: none;

}
input[type=range]::-webkit-slider-thumb {
  
  -webkit-appearance: none;
  }
  input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #a8191d;
  cursor: pointer;
  margin-top: -4px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 92%;
  height: 8px;
  cursor: pointer;
  background: #dddddd;
  border-radius: 5px;
  outline: none;
}
.functions-language-slider span {
  display: inline-block;
  font: 15px/25px 'Helvetica', sans-serif;
  color: black;
  margin-left: 10px;
  margin-bottom: 5px;

}
.functions-news-title {
  margin-top: 10px;
  margin-left: 10px;
  font: 14px/25px 'Helvetica-Bold', sans-serif;
  margin-bottom: 2px;

}
.functions-box {
  margin-left: 8px;
}

.functions-language h3:after {
  content: '';
  width: 20px;
  height: 20px;
  top: 6px;
  left: 69%;
  background: url('../img/close.png') no-repeat;
  position: absolute;
}
 .allocation p:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 280px;
    width: 40px;
    height: 40px;
    font-size: 0;
    cursor: pointer;
    background: url("../img/show-cross.png") no-repeat center;
    background-size: 30%;
    cursor: pointer;
   
  }
  body {
    background: white;
  }
  .top-line {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    height: 30px;
    display: block;
}
  .middle-section .center-content {
    margin-top: 30px;
    width: 310px;
    background: white;
  }
  .news {
    font: 13px 'Helvetica-Med', sans-serif;
    height: 100px;
  }
  #center-block {
  width: 100%;
}
.showsettings {
  width: 100%;
}
.bottom-section>.menu {
  width: 100%;
}
.center-content {
  width: 96%;
  margin: 0 auto;
}
.showsettings:after {
  left: 90%;

}
.middle-section {
    width: 100%;
}
#content-wrapper {
  width: 100%;
}
.bottom-section .menu li:first-child {
  margin-left: 6px;
}
.allocation p {
  width: 90%;
  padding-left: 10%;
}

}















@media screen and (min-width: 800px) and (max-width: 1100px) { 
  .menu {
    width: 520px;

  }
  .top-line {
    width: 520px;
  }
  .menu li a {
    padding-left: 20px;
    padding-right: 20px;

  }
  .center-content {
    width: 510px;
    padding-left: 10px;
    padding-top: 5px;
  }
  .dictionaries-section {
    margin-left: 530px;
    height: 234px;
    width: 260px;

  }
  .transcription-f span {
    font-size: 11px;
  }
  .transcription-f .translating {
    font-size: 11px;
  }
  .left-col-func {
    padding-left: 5px;
  }

  .functions {
    height: 50px;
  }
  .functions-language {
    margin-left: 530px;
    height: 330px;
    top: 360px;
    width: 240px;
     padding-right: 20px;
  }
  .dictionaries-section-big {
    height: 60%;
  }
  .functions-language-mini {
    height: 30px;
    z-index: 1200;
    overflow: hidden;
    margin-top: 36%;
  }
  .main-header {
    width: 800px;
  }
  .lang-select {
    width: 220px;
  }
  .lang-select span {
    margin-left: 30px;
  }
  .left-title-word {
    left: 50px;
  }
  #pc-container {
    width: 800px;
  }
  #content-wrapper {
    width: 800px;
  }
  #center-block {
    width: 800px;
  }
  .middle-section {
    width: 800px;  
  }
  .login-m {
    padding-right: 20px;
  }
   .allocation p:after {
    left: 290px;
  }
  .allocation p {
    right: 100px;
  }
  .word-cancel, .word-delete {
    top: 300px;
    width: 130px;
    background: #394778;
  }
  .word-delete {
    margin-left: 130px;
    background: #4E6BA5;
  }
  .functions-language h3 {
    background: #4E6BA5;
  }
  .sorting-block select {
    position: relative;
    bottom: 37px;
    left: 60px;
  }
  .transcription-f {
    margin-top: 5px;
  }
  .slider-check {
    position: relative;
    right: 76px;
    top: -22px;
  }
  .slider-check2 {
     position: relative;
    top: -45px;
    left: 73px;
  }
   .slider-check, .slider-check2 {
    position: relative;
  }
  .functions-language h3 {
    width: 240px;
  }
  .range-controls .scale {
    width: 240px;
  }
  .menu li a:hover {
  color: #cc0f15;
}
.bottom-button {
    top: 620px;
  }




}
@media only screen and (device-width: 768px) {
     .menu {
    width: 500px;

  }
  .top-line {
    width: 500px;
  }
  .menu li a {
    padding-left: 23px;
    padding-right: 23px;
  }
  .menu li:first-child {
    padding-left: 4px;
  }
  .center-content {
    width: 490px;
    padding-left: 10px;
    padding-top: 5px;
  }
  .dictionaries-section {
    margin-left: 490px;
    height: 234px;
    width: 260px;

  }
   #pc-container {
    width: 768px;
  }
  #content-wrapper {
    width: 768px;
  }
  #center-block {
    width: 768px;
  }
  .middle-section {
    width: 768px;  
  }
  .dictionaries-section {
    margin-left: 515px;
    width: 250px; 
    height: 260px;
  }
  .functions-language {
    margin-left: 515px;
    top: 360px;
    width: 250px; 

  }
  .allocation {
    margin-left: 100px;
  }
  .allocation p:after {
    left: 320px;
  }
  .enter-block {
    position: relative;
    right: 24px;
  }
   .word-cancel, .word-delete {
    top: 590px;
    width: 127px;
  }
  .word-cancel {
    margin-left: 0px;
    background: #394778;
  }
  .word-delete {
     margin-left: 125px;
     background: #4e6ba5;
     width: 
  }
  .slider-check, .slider-check2 {
    width: 30px;
  }
  .slider-check {
    right: 64px;
  }
  .slider-check2 {
    top: -22px;
    left: 50px;
  }
  .logo {
    width: 248px;
    font-size: 25px;
  }
  .logo-p {
    left: 120px;
    padding-left: 15px;
  }
  .lang-select {
    width: 252px;
  }
  .sorting-block select {
    position: relative;
    bottom: -1px;
    left: 15px;
  }
  .circle3:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -88px;
    width: 20px;
    height: 20px;
  }
  .menu li a:hover {
  color: #cc0f15;
}
 .transcription-f span {
    font-size: 11px;
  }
  .transcription-f .translating {
    font-size: 11px;
  }
  .left-title-word {
   
    left: 40px;
  }
  .functions-language h3 {
    background: #4e6ba5;
  }
  .left-title-auto {
    position: relative;
    right: 15px;
  }
  .circle3:after {
    background: #394778;
  }
  .enter-block {
    right: 220px;
  }
  .range-controls .scale {
    width: 236px;
  }
  .functions-language h3:after {
    left: 230px;
  }
  .dictionary {
    padding-right: 20px;
    height: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
}    



.functions-language-mini {
    height: 30px;
    z-index: 1200;
    overflow: hidden;
    margin-top: 36%;
  }
  .dictionaries-section-big {
    height: 56%;
  }
}



