@media screen and (max-width: 480px) {
  #wrapper {
    width: 320px;
     margin: 0 auto;
  }

  .main-header {
    min-width: 320px;
    border-bottom: none;
  }
  .settings-section, .soc-ic, .dictionaries-section, .soc-p{
    display: none !important;
  }
  
  .pc-container .middle-section {
    width: 320px !important;
  }
    .middle-section .center-content {
    width: 320px;
  }
  .middle-section {
    width: 320px;
  }
  .header .top-section {
    margin-top: 0;
    padding-top: 16px;
    background: #7c1216;
    color: white;
    width: 277px;
  }

  .center-content {
    margin: 0;
    width: 320px;
  }
  .middle-section {
    min-width: 320px;
  }
  .main-header .logo {
    font-size: 18px;
    background: #a8191d;
    padding: 0;
    padding-right: 15px;
    width: auto;
  }
  .main-header .logo a {
    color: white;
    padding-left: 16px;
  }
  .main-header .header {
    margin-left: 0;
    height: 50px;
    width: 167px;
  }
  .bottom-section .menu li {
      font-size: 16px;  
      margin: 0;
      padding: 0;
  }
  .bottom-section>.menu {
    width: 374px;
    background: #ebebeb;
    position: relative;
    right: 97px;
   
  }

  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .bottom-section {
    margin: 0 auto;
  }
  .settings-section, .dictionaries-section, .logo-p{
    display: none;
  }
  .enter {
    display: block;
    float: right;
    height: 51px;
    width: 51px;
    background: #a8191d url('../img/enter-icon.png') no-repeat;
    background-position: 10px 10px;
    position: relative;
    bottom: 16px;
  }
  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .menu li:first-child {
    margin-left: 6px;
    border-left: none;
  } 
  .menu li a{
    border-right: 1px solid #d5d1d1;
    padding-right: 15px;
     padding-left: 15px;
    
  } 
  .menu li:nth-child(4) > a {
    border-right: none;
  }
  .top-line {
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    background: none;
    height: 30px;
    display: block;
  }
  .allocation p {
    font: 13px 'Myriad', sans-serif;
    background: #fbfeae;
    padding-left: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }
  .allocation p:after {
    content: '';
    position: absolute;
    top: -8px;
    right: 20px;
    width: 40px;
    height: 40px;
    float: right;
    font-size: 0;
    cursor: pointer;
    background: url("../img/show-cross.png") no-repeat center;
    background-size: 30%;
    cursor: pointer;
   
  }
  .allocation {
    width: 375px;
    margin: 0;
    position: relative;
    right: 30px;
    
  }
  .showbtn {
    display: none;
  }
  .title-line {
    display: none;
  }



}

@media screen and (max-width: 370px) {

  #wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .middle-section {
    width: 320px;
  }
  .background>.main-header {
    min-width: 320px;
    margin: 0;
    height: 51px;
    border: none;
  }
  .settings-section, .dictionaries-section, .logo-p{
    display: none;
  }
  .header .top-section {
    margin-top: 0;
    padding-top: 16px;
    background: #7c1216;
    color: white;
    width: 243px;
  }

  .center-content {
    margin: 0;
    width: 320px;
  }
  .main-header .logo {
    font-size: 18px;
    background: #a8191d;
    padding: 0;
    padding-right: 15px;
  }
  .main-header .logo a {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-header .header {
    margin-left: 0;
    height: 30px;
    width: 320px;
  }
  .bottom-section .menu li {
      font-size: 16px;  
      margin: 0;
      padding: 0;

  }
  .top-section {
    position: relative;
    bottom: 51px;
    left: 67px;
    margin-left: 10px;
    width: 243px;
    height: 19px;
  }
 
  .bottom-section>.menu {
    width: 320px;
    position: relative;
    bottom: 66px;
    background: #ebebeb;
    right: 0;
    
   
   
  }
  .menu li:nth-child(5),
    .menu li:nth-child(6) {
      display: none;
    }
  .menu li:first-child {
    margin-left: 6px;
    border-left: none;
  } 
  .menu li a{
    border-right: 1px solid #d5d1d1;
    padding-right: 9px;
    padding-left: 10px;
    
  } 
  .menu li:nth-child(4) > a {
    border-right: none;
  }
  .bottom-section {
    margin: 0 auto;
  }
  .enter {
    display: block;
    float: right;
    height: 51px;
    width: 51px;
    background: #a8191d url('../img/enter-icon.png') no-repeat;
    background-position: 10px 10px;
    position: relative;
    bottom: 16px;
  }
  .switch-lang {
     
      background: transparent;
      border: none;
      padding-right: 5px;
      color: white;
      width: auto;
      height: auto;

  }
  select

}