div.modui-popup {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  z-index: 2000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  font-family: 'Open sans', 'Arial';
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  min-width: 50px;
  transition: opacity 0.07s linear;
  padding: 3px;
  line-height: 1.4;
  /*--- Below ---*/
  /*--- Above ---*/
  /*--- Left Center ---*/
  /*--- Right Center  ---*/ }
  div.modui-popup[data-state='closed'] {
    display: block;
    opacity: 0; }
  div.modui-popup[data-state='repositioning'] {
    display: block; }
  div.modui-popup[data-state='open'] {
    display: block;
    opacity: 0.95; }
  div.modui-popup[data-state='closing'] {
    display: block;
    opacity: 0; }
  div.modui-popup:before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background-image: none;
    background-color: #FFFFFF;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  div.modui-popup.bottom {
    margin: 10px 0 0; }
  div.modui-popup.top {
    margin: 0 0 10px; }
  div.modui-popup.left.center {
    margin: 0 10px 0 0; }
  div.modui-popup.right.center {
    margin: 0 0 0 10px; }
  div.modui-popup.center {
    margin-left: -10px; }
  div.modui-popup.bottom:before {
    border-top: 1px solid silver;
    border-left: 1px solid silver; }
  div.modui-popup.bottom.center:before {
    margin-left: -6px;
    top: -6px;
    left: 50%;
    right: auto;
    bottom: auto; }
  div.modui-popup.bottom.right:before {
    top: -6px;
    right: 12px;
    bottom: auto;
    left: auto;
    margin-left: 0; }
  div.modui-popup.bottom.left:before {
    top: -6px;
    left: 12px;
    right: auto;
    bottom: auto;
    margin-left: 0; }
  div.modui-popup.top:before {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver; }
  div.modui-popup.top.center:before {
    top: auto;
    right: auto;
    bottom: -6px;
    left: 50%;
    margin-left: -6px; }
  div.modui-popup.top.right:before {
    bottom: -6px;
    right: 12px;
    top: auto;
    left: auto;
    margin-left: 0; }
  div.modui-popup.top.left:before {
    bottom: -6px;
    left: 12px;
    top: auto;
    right: auto;
    margin-left: 0; }
  div.modui-popup.left.center:before {
    top: 50%;
    right: -6px;
    bottom: auto;
    left: auto;
    margin-top: -6px;
    border-top: 1px solid silver;
    border-right: 1px solid silver; }
  div.modui-popup.right.center:before {
    top: 50%;
    left: -6px;
    bottom: auto;
    right: auto;
    margin-top: -6px;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver; }
  div.modui-popup div.html-contents {
    padding: 4px;
    min-width: 125px;
    max-width: 275px; }