 @font-face {
    font-family: 'Intro-Inline'; /* Гарнитура шрифта */
    src: url(../fonts/Intro-Inline.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Phosphate'; /* Гарнитура шрифта */
    src: url(../fonts/Phosphate.ttf); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: 'Helvetica'; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaLight.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: 'Helvetica-Med'; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaBlack.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: 'Helvetica-Bold'; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaBold.ttf); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: 'Condensed-Bold'; /* Гарнитура шрифта */
    src: url(../fonts/DINCondensedBold.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Myriad'; /* Гарнитура шрифта */
    src: url(../fonts/MyriadPro-It.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Roboto-Regular'; /* Гарнитура шрифта */
    src: url(../fonts/RobotoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Helvetica-Neu'; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaNeueCyr-Medium.otf); /* Путь к файлу со шрифтом */
   }
	   @font-face {
    font-family: 'Intro'; /* Гарнитура шрифта */
    src: url(../fonts/IntroRegular.ttf); /* Путь к файлу со шрифтом */
   }

body{
	margin: 0;
	padding: 0;
	font-family: 'Myriad Pro';
	font-size: 12px;
	line-height: 14px;
	background: #e2e2e2;

}
a{
	color: #999999;
	text-decoration: none;
}
a.register{
	color: #5D5D5D;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    overflow:hidden;
}

.clearfix {
    display: block;
}
.logo{
	font-size: 35px;
	width: 35%;
	background: #4e6ba5;
	padding-bottom: 2px;
    float: left;
	margin-top: 0;
	height: 58px;

}
.lang-select {
	float: left;
	width: 30%;
	background: #394778;
	padding-top: 20px;
    padding-bottom: 19px;
    font-family: 'Helvetica', sans-serif;
	font-size: 17px;
	color: white;
}
.lang-select span {
	padding-left: 35%;
}
.switch-lang {
	background: #394778;
	 font-family: 'Helvetica', sans-serif;
	font-size: 17px;
	color: white;
	-webkit-appearance: none;
	border: none;


}
.enter-block {
	padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Helvetica', sans-serif;
	font-size: 17px;
	color: white;

}
.enter-block {
float: right;
	width: 35%;
	background: #4e6ba5;
	text-align: center;
}
.login-m {
	color: white;
	width: 200px;
}
.menu a {
	color: #2d2d2d;
	width: 200px;
}
.logo a {
	color: white;
	margin-left: 40px;
	font-family: 'Intro';
	display: block;
	margin-top: 25px;
}
.logo-p{
	font-family: 'Helvetica-Neu';
	font-size: 17px;
	position: relative;
	left: 180px;
	bottom: 26px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	border-left: 1px solid white;
	color: white;
	font-size: 12px;
	width: 60%;
}
p{
	margin: 0;
	padding: 0;
}
.header{
	margin-left: 40px;
}
.form-p{
 display: inline-block;
}
.top-section{
	margin-top: 30px;
	border-bottom: 1px solid #3D434B;
	padding-bottom: 15px;
}
.content{
	text-align: center;
}	
.login-form{
	margin-left: 30px;
	display: inline-block;
}
.soc-p{
	display: inline-block;
	margin-left: 30px;
}
.password{
	background: #fff;
	
}
.log-in{
	position: relative;
	display: inline;

}
.log-in a{
	display: inline-block;
	width: 28px;
	height: 24px;
	background: url('../img/form-login.png') no-repeat;
	position: absolute;
	bottom: -6px;
	right: 8px;
}
.login,
.password {
	padding: 6px 10px;
	font-family: 'Helvetica', sans-serif;
	color: #ccc;
	border: 1px solid #3D434B;
	outline: none;
	font-style: italic;
	margin-left: 5px;
}
.login:focus,
.password:focus{
	outline: none;
}
.ic{
	margin: 0 2px;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	font-size: 0;
	text-decoration: none;
	background:  url("../img/social-icons.jpg") no-repeat;
}
.soc-ic{
	margin-left: 30px;
	display: inline-block;
}
.soc-ic a{
	display: inline-block;
	
}
.vk-ic{
	
	background-position: 0 0;
}
.vk-fb{
	
	background-position: -36px 0;
}
.vk-tw{
	
	background-position: -72px 0;
}
.vk-ok{
	background-position: -108px 0;
}
.enter {
	display: none;
}
.register{
	margin-left: 20px;
	text-decoration: none;
}
.reg{
	text-decoration: underline;
}
.menu li{
	float: left;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 13%;
	margin: 0 0 0 1%;
	border: 1px solid red;

}
.menu li:first-child{
	margin-left: 0;
	padding-left: 0;
}
.menu{
	text-align: center;
	font-family: 'Helvetica-Neu', sans-serif;
	font-size: 15px;
	color: #2d2d2d;
	width: 63%;
	text-align: left;
	background: #f6f6f6;
	margin-left: 2%;


	
}
.menu li a span {
	width: 100%;
	margin: 0 auto;
}
.main-header{
	min-width: 500px;
    width: 100%;
	background: #F9F9F9;

}	
.middle-section{
	width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
	background: white;
}
.top-line{
	width: 100%;
	margin: 0 auto;
	background: #FFFF6D url("../img/top-line-bg.png") no-repeat;
}
.title-line{
	padding-left: 30px;
	font: 16px/18px 'Helvetica', sans-serif;
	vertical-align: middle;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #3D434B;
}
.titlebox{

	float: left;
}
.allocation{
	margin-left: 200px;
	float: left;
}
.allocation p{
	padding: 12px 0;
	font: 16px 'Myriad', sans-serif;
}
.showbtn{
	float: right;
	padding: 14px 0;
	margin-right: 100px;
	position: relative;
}
.checkbox{
	display: none;
}
.checkbox + label{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.checkbox + label::before{
	content: "";
	position: absolute;
	top: 0px;
	left: -20px;
	width: 10px;
	height: 10px;
	border: 1px solid #5B5B5B;
	background: #F9F9F9;
}

.checkbox:checked + label::before{
	background: #F9F9F9 url("../img/check.png") no-repeat;
}
.close{
	position: absolute;
	top: 0;
	right: -70px;
	width: 40px;
	height: 40px;
	float: right;
	font-size: 0;
	cursor: pointer;
	background: url("../img/show-cross.png") no-repeat center;
}
.left-window{
	float: left;
	margin-left: 30px;
}
.right-window{
	float: right;
	margin-right: 30px;
}
.translate-block{
	padding: 5px 0;
	margin-top: 10px;
	background: #F7F7F7;
}
.translate-block textarea{
	border: 1px solid #999999;
	width: 520px;
	resize: none;
}
.translate-block textarea:focus{
	outline: none;
}
.translate-functions{
	float: left;
	font: 12px/13px 'Helvetica', sans-serif;
	font-weight: bold;
	position: relative;
	
}
.function-underline{
	border-bottom: 2px dotted #5d5d5d;
}
.translate-functions p{
	display: inline-block;
}	
.left-inter{
	margin-left: 15px;
	position: relative;
	
}
.right-inter{
	margin-left: 20px;
	position: relative;

}
.left-inter:after{
	cursor: pointer;
	top: 0px;
	right: -15px;
	content: "";
	width: 56px;
	height: 20px;
	position: absolute;
	background: url("../img/underline.png") no-repeat center;

}
.right-inter:after{
	cursor: pointer;
	top: 0px;
	right: -15px;
	content: "";
	width: 50px;
	height: 20px;
	position: absolute;
	background: url("../img/underline-right.png") no-repeat center;
}
.arrow-box{
	cursor: pointer;
	width: 33px;
	height: 27px;

	border: 2px solid #999999;
	margin: 10px auto;
	margin-left: 105px;
	margin-bottom: 2px;

	background: url('../img/box-arrows.png') no-repeat center;
}
.settings-section{
	background: #F7F7F7;
	position: relative;
    display: inline-block;
}
.settings-slide {
    background: #F7F7F7;
    position: absolute;
    z-index: 5;
}
.checkbox-settings{
	display: none;
}
.checkbox-settings + label{
	position: relative;
	
	cursor: pointer;
}
.checkbox-settings + label::before{
	content: "";
	position: absolute;
	left: -25px;
	width: 10px;
	height: 10px;
	border: 1px solid #999999;
	background: #F9F9F9;
}

.checkbox-settings:checked + label::before{
	background: #F9F9F9 url("../img/settings-checked.png") no-repeat;
}
.box{
	padding-left: 45px;
	font: 11px/13px 'Helvetica', sans-serif;
	padding-bottom: 3px;
	font-style: italic;
    float: left;
    clear: both;
}
.settings-news{
	color: #999999;
}
.settings-title h3{
	
	font: 26px/31px 'Condensed-Bold', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 25px;
	padding-bottom: 5px;
	color: #999999;
	vertical-align: 30px;
	position: relative;
}
.settings-title{
	position: relative;
}
.settings-section-title {
	position: relative;
}
.settings-section-title:after{
	content: "";
	top: 42px;
	left: -1px;
	position: absolute;
	width: 96%;
	height: 1px;
	background: #999999;
}
.settings-title:before{
	cursor: pointer;
	width: 15px;
	height: 8px;
	content: "";
	position: absolute;
	background: url("../img/close-icon.png") no-repeat center;
	left: 140px;
	top: 12px;
}

.settings-title a{
	color: inherit;
}
.settings-title:after{
	cursor: pointer;
	top: 28px;
	left: 23px;
	content: "";
	width: 112px;
	height: 2px;
	position: absolute;
	background: url("../img/under-line.png") repeat center;

}
.news-title{
	padding-left: 25px;
	font: 15px 'Helvetica', sans-serif;
}
.range-filter{
	width: 174px;
	
}
.range-controls{
	position: relative;
	padding-top: 8px;
		
		padding-bottom: 20px;
		margin-left: 25px;
}
.range-controls .scale{
	
	height: 1px;
	background: #999999;
}
.range-controls .circle{
	position: absolute;
	top: 2px;
	background: #F7F7F7;
	width: 12px;
	height: 12px;
	border:1px solid #999999;
	border-radius: 50%;
}
.circle1{
	position: absolute;
	top: 2px;
	background: #F7F7F7;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	display: inline-block;
	left: 0;
}
.circle2{
	cursor: pointer;
	
}

.range-controls .circle2{
	left: 70px;
}
.range-controls .circle3{
	left: 135px;
	
}
.settings-lang-dif{
    float: left;
    clear: both;
}

.settings-lang-dif h4{
	padding-left: 25px;
	font: 15px 'Helvetica', sans-serif;
	color: #999999;
}
 .circle3{
	position: relative;
	top: 2px;
	background: #F7F7F7;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	
}
.circle3:after{
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #2A81B4;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	display: inline-block;

}
.max-toggle input[type=radio]:checked + .circle3:after{
	left: 2px;
}
#slidedifficult2:checked ~ .circle3:after{
	left: -63px;
}

#slidedifficult1:checked ~ .circle3:after{
	left: -133px;
}

.range-controls-hard{
	position: absolute;
	left: 125px;
	bottom: -2px;
	font: 11px 'Helvetica', sans-serif;
	color: #999999;
	font-style: italic;
}
.settings-lang h4{
	margin-top: 20px;
	margin-bottom: 5px;
	position: relative;
	padding-left: 25px;
	font: 15px 'Helvetica', sans-serif;
	color: #999999;
}
.settings-lang-link {
	position: relative;
}
.settings-lang-link:after{
	cursor: pointer;
	top: 18px;
	left: 2px;
	content: "";
	width: 106px;
	height: 2px;
	position: absolute;
	background: url("../img/under-line.png") repeat center;
}

.settings-lang-link:before{
	cursor: pointer;
	top: 8px;
	left: 115px;
	content: "";
	width: 9px;
	height: 5px;
	position: absolute;
	background: url("../img/native-ic.png") no-repeat center;
}
.settings-lang{
	position: relative;
	padding-bottom: 10px;
}
.lang{
	margin-top: 10px;
	margin-left: 25px;
	font: 10px 'Helvetica', sans-serif;
	color: #999999;
}
.dictionaries-section{
	float: right;
	width: 240px;
	background: #F7F7F7;
	margin-right: 10px;
	margin-top: 20px;
    z-index: 4;
}
.dict-title h3{
	font: 26px/31px 'Condensed-Bold', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 25px;
	padding-bottom: 5px;
	color: #999999;
	vertical-align: 30px;
	position: relative;

}
.showsettings {
	display: none;

}
.showsettings:after {
	content: '';


}
.dict-title:after{
	content: "";
	top: 42px;
	left: 14px;
	position: absolute;
	width: 90%;
	height: 1px;
	background: #999999;
}
.dict-title{
	position: relative;
}
.dict-title h3:after{
	cursor: pointer;
	top: 28px;
	left: 1px;
	content: "";
	width: 142px;
	height: 2px;
	position: absolute;
	background: url("../img/under-line.png") repeat center;
}
.dict-title h3:before{
	cursor: pointer;
	width: 15px;
	height: 8px;
	content: "";
	position: absolute;
	background: url("../img/close-icon.png") no-repeat center;
	left: 155px;
	top: 12px;
}
.center-content{
	float: left;
    margin: 0 55px;
    width: 420px;
    color: #2A81B4;
    padding-top: 20px;
}
.center-content a{
	color: #2A81B4;
}
 .name-news{
 	display: inline-block;
 	margin-bottom: 10px;
	text-align: left;
	font: 25px 'Condensed-Bold', sans-serif;
	color: #2A81B4;
}
.newsinform{
	color: #2A81B4;
	font: 12px 'Helvetica', sans-serif;
	margin-left: 0;

}
.news{
	font: 15px 'Helvetica', sans-serif;
	color: #000;
	height: 100px;
	overflow: hidden;
	position: relative;	
	background: -webkit-gradient(linear, left top,left bottom,color-stop(0.3, #000),color-stop(1, #FFF));, black;
	-webkit-background-clip: text;
	color: transparent;
}
.news:after {
	content: '';
	position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;

}
.more-news{
	display: inline-block;
	margin-top: 20px;
	font: 12px 'Helvetica', sans-serif;
	color: #2A81B4;
	margin-bottom: 30px;

}
.novelty{
	border-bottom: 1px solid #E5E5E5;
}

.slider-check {

	width: 50px;
	height: 15px;
	background: #E5E5E5;
	margin-right: 0;


	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slider-check:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 10px;
	height: 2px;
	width: 32px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: white;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.checkbox-cust{
	display: none;
}
.slider-check label {
	display: inline-block;
	width: 12px;
	height: 12px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 1px;
	z-index: 1;
	left: 4px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slider-check label:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #2a81b4;
	left: 3px;
	top: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.slider-check input[type=checkbox]:checked + label {
	left: 34px;
}


.slider-check input[type=checkbox]:checked + label:after {
	background: #00bf00;
}
.slider-check2 {

	width: 50px;
	height: 15px;
	background: #E5E5E5;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slider-check2:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 10px;
	height: 2px;
	width: 32px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: white;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.slider-check2 label {
	display: inline-block;
	width: 12px;
	height: 12px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 1px;
	z-index: 1;
	left: 4px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slider-check2 label:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #2a81b4;
	left: 3px;
	top: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.slider-check2 input[type=checkbox]:checked + label {
	left: 34px;
}

.slider-check2 input[type=checkbox]:checked + label:after {
	background: #00bf00;
}
.left-col-func{
	font: 12px 'Helvetica', sans-serif;
	float: left;
	width: 95px;
	color: #B2B2B2;
	padding-left: 20px;
}
.right-col-func{
	font: 15px 'Helvetica', sans-serif;
	color: #5D5D5D;
	width: 30%;
	float: right;
	position: relative;
}
.choice{

}
 h5{
	margin-bottom: 16px;
	margin-top: 0;
}
.dict-box{
	display: inline-block;
	cursor: pointer;
	position: relative;

}
.dictboxer1:after{
	content: "";
	top: 17px;
	left: 1px;
	width: 48px;
	height: 2px;
	position: absolute;
	background: url("../img/under-line.png") repeat center;
}
.dictboxer1:before{
	cursor: pointer;
	top: 6px;
	right: -16px;
	content: "";
	width: 9px;
	height: 5px;
	position: absolute;
	background: url("../img/native-ic.png") no-repeat center;
}
.dictboxer2:after{
	content: "";
	top: 17px;
	left: 1px;
	width: 48px;
	height: 2px;
	position: absolute;
	background: url("../img/under-line.png") repeat center;
}
.dictboxer2:before{
	cursor: pointer;
	top: 6px;
	right: -16px;
	content: "";
	width: 9px;
	height: 5px;
	position: absolute;
	background: url("../img/native-ic.png") no-repeat center;
}

.left-title-save{
	font: 11px 'Helvetica', sans-serif;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 18px;
}
.left-title-auto{
	margin-bottom: 21px;
}
.left-title-show{
	font: 11px 'Helvetica', sans-serif;
	font-weight: bold;
	margin-bottom: 18px;
}
.sorting-block{
	margin-left: 20px;
	margin-top: 20px;
	border-top: 1px solid #5D5D5D;
	border-bottom: 1px solid #5D5D5D;
	opacity: 0.5;
	height: 30px;
	margin-right: 20px;
}
.sorting-block-title{
	padding-top: 10px;
	font: 11px 'Helvetica', sans-serif;
	font-weight: bold;
	float: left;
}
.sortby{
	padding-top: 10px;
	float: left;
	font: 12px 'Helvetica', sans-serif;
	font-weight: bold;
	margin-left: 20px;
	position: relative;
	cursor: pointer;
}
.sortby:after{
	position: absolute;
	content: "";
	width: 10px;
	height: 6px;
	left: 25px;
	top: 13px;
	background: url('../img/filter-arrow.png');
}
.time{
	padding-top: 10px;
	float: right;
	font: 12px 'Helvetica', sans-serif;
	font-weight: bold;
	margin-right: 30px;
	position: relative;
	cursor: pointer;
}
.time:after{
	position: absolute;
	content: "";
	width: 10px;
	height: 6px;
	left: 73px;
	top: 13px;
	background: url('../img/filter-arrow.png');
}
.dictionary{
	padding-right: 20px;	
	height: 340px;
	overflow-y: scroll;
    overflow-x: hidden;


	
}
.transcription{
	font: 13px 'Helvetica', sans-serif;
	font-weight: bold;
	opacity: 0.7;
	margin-left: 20px;
	border-top: 1px dashed #5D5D5D;
}
.transcription-f{
	
	font: 13px 'Helvetica', sans-serif;
	font-weight: bold;
	opacity: 0.7;
	margin-left: 20px;
}
.dictionary:first-child{

	border-top: 1px solid #F7F7F7;
	border-bottom: 1px dashed #5D5D5D;
}
.dictionary:last-child{
	border-bottom: solid 1px #999999;
	margin-left: 20px;
	margin-bottom: 50px;
}

.transcription h5:first-child{
	padding-top: 5px;
	margin-bottom: 0;
	color: #1C1C1C;
}
.transcription h5:last-child{
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 10px;
}
::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dbdbdb; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
#wrapper{
	display: none;
}
.translate-window {
	width: 266px;
	height: 156px;
	background: white;
	position: fixed;
	left: 43%;
	z-index: 8;
	display: none;
}
.translate-window-title {
	text-align: center;
	font: 18px 'Helvetica-Bold', sans-serif;
	color: black;
	margin: 5px;
}
.translate-window-transcription {
	display: block;
	color: #808080;
	font: 14px 'Helvetica', sans-serif;
	text-align: center;
}
.translate-window-translate {
	font: 14px 'Helvetica', sans-serif;
	color: #2d2d2d;
	display: none;
	margin-top: 10px;
	text-align: center;
}
.translate-window-save {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 133px;
	border: 1px solid #dddddd;
}
.translate-window-close {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 133px;
	border: 1px solid #dddddd;
	border-left: none;
}
.save-span {
	display: block;
	padding: 10px;
	text-align: center;
	font: 14px 'Helvetica-Bold', sans-serif;
	color: black;
}
.close-span {
	display: block;
	padding: 10px;
	text-align: center;
	font: 14px 'Helvetica-Bold', sans-serif;
	color: black;
}
.right-col-func select{
	margin-bottom: 12px;
	border: none;
	background: transparent;
	padding-right: 5px;
	color: #B2B2B2;
}
.right-col-func-select-2 {
	margin-top: 20px;

}
.sorting-block select {
	background: #eeeeee;
  border: none;
  margin-left: 30px;
  width: 50px;
  margin-top: 8px;
}
.sorting-block-title {
	margin-top: 0;
}
.sign {
	position: fixed;
	width: 264px;
	background: white;
	left: 37%;
	font: 14px 'Helvetica', sans-serif;
	z-index: 1000;
	display: none;

}
.sign-in {
	float: left;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 132px;
	color: black;
	font: 18px 'Helvetica-Bold', sans-serif;

}
.sign-up {
	float: right;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 132px;
	background: #a8191d;
	color: white;
	font: 18px 'Helvetica-Bold', sans-serif;
}
.sign-btn {
	width: 188px;
	border: none;
	border-radius: 2px;
	padding: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	display: block;
	color: white;
	font-family: 'Helvetica-Neu';
	margin-left: 40px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;

}
.sign-btn:after {
	content: '';
	width: 188px;
	height: 5px;
	border-bottom: 1px solid black;
	border-radius: 2px;
	position: absolute;
	top: 27px;
	right: -1px;

}
.fb-btn {
	background: #446098;
	color: white;
	border: 1px solid #355187;
	margin-top: 50px;
	

}
.fb-btn:before {
	content: '';
	width: 30px;
	height: 33px;
	background: url('../img/fb-icon.png') no-repeat;
	background-color: transparent;
	position: absolute;
	border-right: 1px solid #355187;
	background-position: -5px -4px;
	bottom: 2px;
	left: 2px;
}
.fb-btn:after {
	border-bottom: 1px solid #355187;
}
.tw-btn {
	background: #39abdc;
	color: white;
	border: 1px solid #1380ae;
	

}
.tw-btn:before {
	content: '';
	width: 30px;
	height: 33px;
	background: transparent  url('../img/tw-icon.png') no-repeat;
	position: absolute;
	border-right: 1px solid #1380ae;
	background-position: -6px -2px;
	bottom: 2px;
	left: 3px;
}
.tw-btn:after {
	border-bottom: 1px solid #1380ae;
}
.gg-btn {
	background: #de4b33;
	color: white;
	border: 1px solid #cd3b24;
	

}
.gg-btn:before {
	content: '';
	width: 30px;
	height: 33px;
	background: transparent  url('../img/gg-icon.png') no-repeat;
	position: absolute;
	border-right: 1px solid #cd3b24;
	background-position: -7px -4px;
	bottom: 2px;
	left: 3px;
}
.gg-btn:after {
	border-bottom: 1px solid #cd3b24;
}
.ggw-btn {
	background: #fafafa;
	color: #898989;
	border: 1px solid #c2c2c2;
	

}
.ggw-btn:before {
	content: '';
	width: 30px;
	height: 33px;
	background: transparent url('../img/ggw-icon.png') no-repeat;
	background-position: -5px -4px;
	position: absolute;
	bottom: 2px;
	left: 3px;
	border-right: 1px solid #c2c2c2;
}
.ggw-btn:after {
	border-bottom: 1px solid #c2c2c2;
}
.btn-text-first {
	margin-left: 28px;
	padding-bottom: 2px;
	
}
.btn-text {
	margin-left: 10px;
	padding-bottom: 2px;
}
.or-icon {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	border: 1px solid #dddddd;
	margin: 0 auto;
	position: relative;
	top: 13px;
}
.or-icon span {
	position: relative;
	top: 3px;

}
.login-m-form {
	background: #dddddd;
}
.login-m-form input {
	border: none;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 2px;
	background: #f6f6f6;
	font: 14px 'Helvetica-Neu', sans-serif;
	color: #808080;
	vertical-align: 20px;
}
.login-m-form input[type=text] {
	margin-top: 20px;
	margin-bottom: 10px;
}
.login-m-form input[type=password] {
	margin-bottom: 0;
}
.login-m-form-restore {
	display: block;
	font: 14px 'Helvetica', sans-serif;
	vertical-align: 25px;
	color: #a8191d;
	padding-bottom: 13px;
}
.sign-login {
	float: left;
	width: 132px;
	background: white;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	font: 14px/20px 'Helvetica-Bold', sans-serif;
	position: relative;
	cursor: pointer;
}
.sign-login:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 1px;
	height: 36px;
	width: 1px;
	background: #dddddd;

}
.sign-close {
	float: right;
	width: 132px;
	background: white;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	font: 14px/20px 'Helvetica-Bold', sans-serif;
	cursor: pointer;
}
.bg-container {
	background: black;
	opacity: 0.7;
	z-index: 98;
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	display: none;

}


	



