@media only screen and (max-device-width: 1024px) {
    .center-block {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .main-header {
        width: 100%;
        left: 0;
        margin: 0;
    }

    .center-block {
        margin-left: -512px;
    }
}

@media only screen and (max-device-width: 480px) {
    body {
        overflow: visible;
        line-height: 1em;
        font-size: 1.7vh;
        background-color: rgb(246,246,246);
        width: 100vw;
        min-width: initial;
        padding-top: 7em;
    }

    .allocation p {
        width: auto;
    }

    .enter-block {
        display: none;
    }

    .logo a {
        margin: 0;
    }

    .logo {
        line-height: 1.9em;
        width: 30%;
        text-align: center;
        padding-bottom: 0;
        padding-right: 2%;
        padding-left: 2%;
        float: none;
        display: inline-block;
        height: auto;
        vertical-align: middle;
        font-size: 4.2vh;
    }

    .sign-bg {
        display: none;
    }

    .enter {
        display: inline-block;
        background: url(/img/enter-icon.png) no-repeat;
        background-size: 100%;
        width: 4vh;
        height: 4vh;
        vertical-align: middle;
        margin-left: 1em;
    }

    .main-header {
        position: fixed;
        width: 100%
    }

    .lang-select {
        width: 50%;
        text-align: center;
        display: inline-block;
        padding: 1em 0 1em 0;
        float: none;
        font-size: 1.4em;
        line-height: initial;
    }

    .switch-lang {
        height: 1.3em;
        font-size: 1.1em;
    }

    .allocation p {
        font-size: 1em;
        padding: 1em;
    }

    .lang-select span {
        margin-left: 0;
    }

    .logo-p {
        display: none;
    }

    .center-block {
        width: 100vw;
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }

    .showsettings {
        z-index: 99;
        position: fixed;
        display: block;
        bottom: 0;
        line-height: 2em;
        font-size: 1.6em;
        background: #4E6BA5;
        width: 100%;
        color: white;
        height: 5%;
        text-align: center;
        font-family: 'Helvetica-Neu', sans-serif;
    }

    .dictionary {
        height: 65%;
        top: 12em;
    }

    .dictionaries-section {
        display: none;
    }

    .functions-language {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        margin: 0;
    }

    .settings-header {
        line-height: 2em;
        font-size: 1.5em;
        padding: 0 0 0 20px;
    }

    .menu {
        margin-top: 0;
        position: relative;
        width: auto;
        height: auto;
        font-size: 1.1em;
    }

    .menu li {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .menu li a {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }

    .top-line {
        position: relative;
        top: 0;
        width: auto;
    }

    .center-content {
        float: none;
        width: auto;
        margin-top: 0;
        padding-top: 1vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .close-cross {
        float: none;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        right: 5%;
        top: 25%;
        left: auto;
    }

    .allocation {
        margin: 0;
        float: none;
    }

    .functions-language-slider:after {
        display: block;
        width: 100%;
        border: 0.11em solid rgba(200,200,200,.4)
    }

    .functions-news-title,
    .functions-settings-news {
        bottom: auto;
    }

    .range-filter {
        width: 315px;
        margin: 0 auto;
    }

    .open-settings {
        height: 2em;
        width: 2em;
        position: absolute;
        top: 0;
        right: 0;
        background: #3E5B95;
        vertical-align: middle;
    }

    .open-settings-gear {
        width: 60%;
        height: 60%;
        vertical-align: sub;
    }

    .dictionaries-section.show {
        display: block;
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 120%;
        width: 100%;
    }

    .dict-title h3 {
        line-height: 2.5em;
        font-size: 1.5em;
    }

    .dict-title-close {
        display: block;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }
}
