<aside class="sidebar menu">
</aside>
<section class="news-feed">

    <header class="main-header">
        <h1>UpVoc</h1>
        <h2>improve your English vocabulary. <span class="highlight-color pointer j-show-about">Why?</span></h2>
        <div class="mobile-about-project hide"><span class="message">Efficiently upgrade your English vocabulary throug reading actual news from CNN, BBC, TechCruch, USAToday, Forbes and others.</span></div>
    </header>

    <section class="language-lvl-selector j-languageLVL">
    </section>
    <section class="mobile-navigation-holder">
        <nav class="mobile-navigation">
            <a href="#" class="selected">Top Stories</a>
            <a href="#category/politics">Politics</a>
            <a href="#category/social">Social</a>
            <a href="#category/economics">Economics</a>
            <a href="#category/sport">Sports</a>
            <a href="#category/science">Science</a>
            <a href="#category/tech">Tech</a>
            <a href="#category/culture">Culture</a>
            <a href="#category/world">World</a>
        </nav>
    </section>

    <section class="articles"><!-- Toggle class «loading» for loading spinner -->

        <div class="loading-spinner"></div>
    </section>

</section>
<aside class="sidebar">
    <div class="about-project hide"><span class="message">Efficiently upgrade your English vocabulary throug reading actual news from CNN, BBC, TechCruch, USAToday, Forbes and others.</span></div>
</aside>
