<aside class="sidebar menu">
</aside>
<section class="news-feed">

    <header class="main-header">
        <h1>Plain news</h1>
        <h2>it's easy to understand. <span class="highlight-color pointer j-show-about">Why?</span></h2>
        <div class="mobile-about-project hide"><span class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, commodi, officiis, tempora doloremque illo obcaecati fuga id aliquam aspernatur eaque numquam qui eius. Placeat, laborum, ea quidem nostrum at tempore.</span></div>
    </header>

    <section class="language-lvl-selector j-languageLVL">
    </section>
    <section class="mobile-navigation-holder">
        <nav class="mobile-navigation">
            <a href="#" class="selected">Top Stories</a>
            <a href="#category/politics">Politics</a>
            <a href="#category/social">Social</a>
            <a href="#category/economics">Economics</a>
            <a href="#category/sport">Sports</a>
            <a href="#category/science">Science</a>
            <a href="#category/tech">Tech</a>
            <a href="#category/culture">Culture</a>
            <a href="#category/world">World</a>
        </nav>
    </section>

    <section class="articles"><!-- Toggle class «loading» for loading spinner -->

        <div class="loading-spinner"></div>
    </section>

</section>
<aside class="sidebar">
    <div class="about-project hide"><span class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, commodi, officiis, tempora doloremque illo obcaecati fuga id aliquam aspernatur eaque numquam qui eius. Placeat, laborum, ea quidem nostrum at tempore.</span></div>
</aside>
