<aside class="sidebar menu">
</aside>
<section class="news-feed">

    <header class="main-header">
        <h1>UpVoc</h1>
        <h2>improve your English vocabulary. <span class="highlight-color pointer j-show-about">How?</span></h2>
        <div class="mobile-about-project hide">
            <span class="message">Prepare for reading part of TOEFL, IELTS, GMAT and GRE tests by reading  real actual news and articles from CNN, Forbes, The Economist and other popular news sites. </span>
            <span class="message">Chose type of vocabulary (for example - business English or GMAT) than you want to improve and we will find articles with most consistent  presence of this type of lexica.</span>
        </div>
    </header>

    <section class="language-lvl-selector j-languageLVL">
    </section>
    <section class="mobile-navigation-holder">
        <nav class="mobile-navigation">
            <a href="#">General</a>
            <a href="#category/business">Business English</a>
            <a href="#category/toefl">For TOEFL</a>
            <a href="#category/gmat">For GMAT</a>
            <a href="#category/gre">For GRE</a>
            <a href="#category/travel">Travel</a>
            <a href="#category/tech">Tech</a>
            <a href="#category/iregullar">Irregular verbs</a>
            <a href="#category/sport">Sport</a>
        </nav>
    </section>

    <section class="articles"><!-- Toggle class «loading» for loading spinner -->

        <div class="loading-spinner"></div>
    </section>

</section>
<aside class="sidebar">
    <div class="about-project hide"><span class="message">Efficiently upgrade your English vocabulary throug reading actual news from CNN, BBC, TechCruch, USAToday, Forbes and others.</span></div>
</aside>
