<aside class="sidebar menu">
</aside>
<section class="news-feed">

    <header class="main-header">
        <h1>UpVoc</h1>
        <h2>improve your English vocabulary. <span onclick="counter.reachGoal('how')" class="highlight-color pointer j-show-about">How?</span></h2>
        <div class="mobile-about-project mobile-how hide">
            <p class="message">Prepare for reading part of TOEFL, IELTS, GMAT and GRE tests by reading  real actual news and articles from CNN, Forbes, The Economist and other popular news sites. </p>
            <p class="message">Chose type of vocabulary (for example - business English or GMAT) than you want to improve and we will find articles with most consistent  presence of this type of lexica.</p>
        </div>
        <div class="mobile-about-project dictionary hide">
            <div class="message"></div>
        </div>
    </header>

    <section class="language-lvl-selector j-languageLVL">
    </section>

    <section class="mobile-navigation-holder">
        <nav class="mobile-navigation">
            <a href="#">Top Stories</a>
            <a href="#category/politics" onclick="counter.reachGoal('category-click', 'general')">Politics</a>
            <a href="#category/social" onclick="counter.reachGoal('category-click', 'social')">Social</a>
            <a href="#category/economics" onclick="counter.reachGoal('category-click', 'economics')">Economics</a>
            <a href="#category/sport" onclick="counter.reachGoal('category-click', 'sport')">Sports</a>
            <a href="#category/science" onclick="counter.reachGoal('category-click', 'science')">Science</a>
            <a href="#category/tech" onclick="counter.reachGoal('category-click', 'tech')">Tech</a>
            <a href="#category/culture" onclick="counter.reachGoal('category-click', 'culture')">Culture</a>
            <a href="#category/world" onclick="counter.reachGoal('category-click', 'world')">World</a>
        </nav>
    </section>

    <section class="articles"><!-- Toggle class «loading» for loading spinner -->

        <div class="loading-spinner"></div>
    </section>

</section>
<aside class="sidebar">
    <div class="about-project how hide">
        <p class="message">Prepare for reading part of TOEFL, IELTS, GMAT and GRE tests by reading  real actual news and articles from CNN, Forbes, The Economist and other popular news sites. </p>
        <p class="message">Chose type of vocabulary (for example - business English or GMAT) than you want to improve and we will find articles with most consistent  presence of this type of lexica.</p>
    </div>
</aside>
