<div>
    <label for="language-select">My language</label>
    <select class="language-select" id="language-select" name="language">
        <option value="chinese">Chinese</option>
        <option value="arabic">Arabic</option>
        <option value="portugal">Portugal</option>
        <option value="russian">Russian</option>
        <option value="spanish">Spanish</option>
        <option value="turkish">Turkish</option>
    </select>
</div>
<div>
    <label for="random-select">Show</label>
    <select id="random-select" class="random-select">
        <option value="0">Full dictionary</option>
        <option value="1">20 random words</option>
    </select>
</div>
<div>
    <input type="checkbox" {{#if highlight }}checked="checked"{{/if}} class="highlight-switcher" id="highlight-switcher"/>
    <label for="highlight-switcher">Highlight words</label>
</div>
