<div>
    <label for="language-select">My language</label>
    <select class="language-select" id="language-select" name="language">
        <option value="chinese">Chinese</option>
        <option value="arabic">Arabic</option>
        <option value="portugal">Portugal</option>
        <option value="russian">Russian</option>
        <option value="spanish">Spanish</option>
        <option value="turkish">Turkish</option>
    </select>
</div>
<div>
    <label for="source-select">News source</label>
    <select class="source-select" id="source-select" name="source">
        <option value="">All</option>
        <option value="cnn.com">CNN</option>
        <option value="bbc.com">BBC</option>
        <option value="economist.com">Economist</option>
        <option value="usatoday.com">USAtoday</option>
        <option value="forbes.com">Forbes</option>
        <option value="telegraph.co.uk">Telegraph</option>
        <option value="techcrunch.com">Techcrunch</option>
    </select>
</div>
<div>
    <label for="random-select">Show</label>
    <select id="random-select" class="random-select">
        <option value="0">Full dictionary</option>
        <option value="1">20 random words</option>
    </select>
</div>
<div>
    <input type="checkbox" {{#if highlightDict }}checked="checked"{{/if}} class="highlight-switcher" id="highlight-switcher"/>
    <label for="highlight-switcher">Highlight from</label>
</div>
<div>
    <input type="checkbox" {{#if highlight }}checked="checked"{{/if}} class="highlight-switcher" id="highlight-switcher"/>
    <label for="highlight-switcher">Highlight words</label>
</div>
