<div>
    <label for="language-select">My language</label>
    <select id="language-select">
        <option>English</option>
        <option>Chinese</option>
    </select>
</div>
<div>
    <label for="random-select">Show</label>
    <select id="random-select" class="random-select">
        <option value="0">Full dictionary</option>
        <option value="1">10 random words</option>
    </select>
</div>
<div>
    <input type="checkbox" {{#if highlight }}checked="checked"{{/if}} class="highlight-switcher" id="highlight-switcher"/>
    <label for="highlight-switcher">Highlight words</label>
</div>
