<div class="transcription-f">
     <input type="checkbox" class="dict-checkbox" id="1">
     <label for="1">
         <div class="tr-words">
             <span class="transition-word">{{original}}</span>
             <span class="transcription-word">[{{transcription}}]</span>
         </div>
         <h5 class="translating">{{translation}}</h5>
     </label>
</div>