<div class="dict-title">
    <h3><a href="#">My dictionaries</a></h3>
</div>
<div class="functions">
<div class="left-col-func">
    <h5 class="left-title-save">Save words to</h5>
    <h5 class="left-title-auto">Autosave</h5>
    <h5 class="left-title-show">Show dictionary</h5>
    <h5 class="left-title-word">Highlight words:</h5>
</div>
<div class="right-col-func">
    <select class='right-col-func-select-1'>
        <option>Main</option>
    </select>
    <div class="slider-check">
        <input type="checkbox" {{#if autosave}}checked="checked"{{/if}} value="autosave" id="slideTwo" name="autosave" class="autosave-slider checkbox-cust" />
        <label for="slideTwo"></label>
    </div>
    <select class='right-col-func-select-2'>
        <option>Main</option>
    </select>
    <div class="slider-check2">
        <input type="checkbox" {{#if highliht}}checked="checked"{{/if}} value="highlight" id="checkbox2" name="highlight" class="highlight-slider checkbox-cust" />
        <label for="checkbox2"></label>
    </div>


</div>

<div class="clearfix"></div>
</div>
<div class="sorting-block">
    <h3 class="sorting-block-title">Sort by:</h3>
    <select>
    <option><p class="sortby">A-Z</p></option>

    <option><p class="time">Time added</p></option>
    </select>
</div>
<div class="clearfix"></div>
<div class="dictionary dictionary-minify">
    <div class="text-block">
    </div>
   
      <div class="word-delete top">Delete selected</div>
            <div class="word-cancel top">Cancel</div>
         
</div>
