<div class="dict-title">
    <h3>My dictionaries</h3>
</div>
<div class="functions">
    <div class="dict__setting">
        <a class="left-title">My settings</a>
    </div>
</div>
<div class="functions">
    <div class="dict__setting">
        <h5 class="left-title">Autosave</h5>
        <div class="slider-check">
            <input type="checkbox" {{#if autosave}}checked="checked"{{/if}} value="autosave" id="autosave" name="autosave" class="autosave-slider checkbox-cust" />
            <label for="autosave"></label>
        </div>
    </div>
    <div class="dict__setting">
        <h5 class="left-title">Highlight words</h5>
        <div class="slider-check">
            <input type="checkbox" {{#if highliht}}checked="checked"{{/if}} value="highlight" id="highlight" name="highlight" class="highlight-slider checkbox-cust" />
            <label for="highlight"></label>
        </div>
    </div>
</div>
<div class="sorting-block">
    <h3 class="sorting-block-title">Sort by:</h3>
    <select class="sorting-block-select">
        <option>A-Z</option>
        <option>Time added</option>
    </select>
</div>
<div class="clearfix"></div>
<div class="dictionary ">
    <div class="text-block">
    </div>
   
      <div class="word-delete top">Delete selected</div>
        <div class="word-cancel top">Cancel</div>
         
</div>