<div class="difficulty">
    <h3 class="difficulty__header">Укажите ваш уровень владения языком</h3>
    <form>
        <ul class="difficulty__list">
            <li>
                <input type="radio" name="difficulty" value="low" id="difficulty-low"/>
                <label for="difficulty-low">низкий</label>
            </li>
            <li>
                <input type="radio" name="difficulty" value="medium" id="difficulty-medium"/>
                <label for="difficulty-medium">средний</label>
            </li>
            <li>
                <input type="radio" name="difficulty" value="high" id="difficulty-high"/>
                <label for="difficulty-high">высокий</label>
            </li>
        </ul>
        <input class="difficulty__submit" type="button" value="Указать"/>
    </form>
</div>
