<h1>My english level:</h1>

<h2 class="difficulty">{{ difficulty }}</h2>
<span class="language-lvl-selector-btn easier">Previous</span>
<span class="language-lvl-selector-btn harder">Next</span>
<hr/>
<h2 class="dictionary-header"><span class="highlight-color pointer j-show-dictionary">Show dictionary</span></h2>
<div class="about-project dictionary hide">
    <div class="user-controls">
    </div>
    <div class="dictionary-view">
    </div>
</div>
