<div class="novelty">
    <h2 class="name-news"><a>{{{ processedTitle }}}</a></h2>
    <p class="news"><span></span>{{{ body }}}</p>
    <p>
        <a href="#"><blockquote class="newsinform">{{ name }} – {{ formattedDate }}</blockquote></a>

    </p>
</div>