<article class="article">
    <h1><a href="{{ link }}" target="_blank">{{ title }}</a></h1>


    <a href="#" class="post-time">{{ name }} – 5 minutes ago</a>

    <p>{{{ description }}}</p>
</article>
