<article class="rec">
    <h1 class="episode__title">
        <a href="{{ link }}" target="_blank">{{ title }}</a>
    </h1>
    <p class="episode__content">
        {{{ description }}}
    </p>
</article>
