<div class="episode">
    <h3 class="episode__title">
        <a href="{{ link }}" target="_blank">{{ title }}</a>
    </h3>
    <p class="episode__content">
        {{{ description }}}
    </p>
</div>
