<div class="inner">
    <aside class="themes-list-holder"></aside>
    <section class="recs-holder"></section>
</div>
<div class="popup-container">
<div class="popup-holder">
<div class="popup-body">
</div>
</div>
</div>
