<div class="container">
    <button type="button" name="button" class="b-authorization__close auth-close-a-js">
        <svg class="icon-cross">
            <use xlink:href="#icon-cross"></use>
        </svg>
    </button>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="b-authorization__block">
                <div class="b-authorization__title">
                    <a href="#" class="b-authorization__title-logo">
                        <svg class="logo">
                            <use xlink:href="#logo"></use>
                        </svg>
                        <span class="b-authorization__title-slogan">Авторизация</span>
                    </a>
                </div>
                <div class="b-authorization__form">
                    <div class="form-error hidden"></div>
                    <form method='post'>
                        <input type="text" name="username" class="login-m-form-login login-input" placeholder="Email">
                        <input type="password" name="password" class="login-m-form-password password-input" placeholder="{{i18n 'Password'}}">
                    </form>
                </div>
                <div class="b-authorization__fix">
                    <div class="b-authorization__social">
                        <p class="b-authorization__social-title">войти через</p>
                        <ul class="b-authorization__social-list">
                            <li class="b-authorization__social-item">
                                <a href="/auth/facebook" class="facebook">
                                    <svg class="icon icon-facebook">
                                        <use xlink:href="#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="b-authorization__social-item">
                                <a href="/auth/twitter" class="twitter">
                                    <svg class="icon icon-twitter">
                                        <use xlink:href="#icon-twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="b-authorization__social-item">
                                <a href="/auth/vk" class="vk">
                                    <svg class="icon icon-vk">
                                        <use xlink:href="#icon-vk"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" name="button" class="button button--b button--block b-authorization__button sign-login">{{i18n 'Login'}}</button>
                    <div class="b-authorization__link-group">
                        <a href="#" class="b-authorization__link b-authorization__link--l sign-up">{{i18n 'Sign Up'}}</a>
                        <a href="#" class="b-authorization__link b-authorization__link--r login-m-form-restore ">{{i18n 'Forgot password'}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
