<h3 class="settings-header">My settings<span class="close-cross"></span></h3>
<div class="settings-content">
    <div class="functions-language-slider">
        <span>Language difficulty:</span>
        <span class="level">Medium</span>
    <div class="range-filter">
            <div class="range-controls">
                <div class="scale"><div class="bar"></div></div>
                <input type="radio" id="slidedifficult1" name="check" class="checkbox-cust settings-radio" value="Easy">
                <label for="slidedifficult1" class="circle circle1"></label>
                <input type="radio" id="slidedifficult2" name="check" class="checkbox-cust settings-radio" value="Medium">
                <label for="slidedifficult2" class="circle circle2"></label>
                <input type="radio" id="slidedifficult3" name="check" class="checkbox-cust settings-radio" value="Hard">
                <label for="slidedifficult3" class="circle circle3"></label>
            </div>
        </div>
    </div>
            <h4 class="functions-news-title">News Sources</h4>
    <div class="functions-settings-news">
                <div class="functions-box">
                    <input type="checkbox" value="cnn.com" class="functions-checkbox-settings" id="cnn">
                    <label for="cnn">CNN</label>
                </div>
                <div class="functions-box">
                    <input type="checkbox" value="bbc.com" class="functions-checkbox-settings" id="bbc">
                    <label for="bbc">BBC</label>
                </div>
                <div class="functions-box">
                    <input type="checkbox" value="economist.com" class="functions-checkbox-settings" id="economist">
                    <label for="economist">Economist</label>
                </div>
                <div class="functions-box">
                    <input type="checkbox" value="usatoday.com" class="functions-checkbox-settings" id="usatoday">
                    <label for="usatoday">USA Today</label>
                </div>
                <div class="functions-box">
                    <input type="checkbox" value="forbes.com" class="functions-checkbox-settings" id="forbes">
                    <label for="forbes">Forbes</label>
                </div>
                <div class="functions-box">
                    <input type="checkbox" value="telegraph.co.uk" class="functions-checkbox-settings" id="telegraph">
                    <label for="telegraph">Telegraph</label>
                </div>
                <div class="functions-box">
                    <input type="checkbox" value="techcrunch.com" class="functions-checkbox-settings" id="techcrunch">
                    <label for="techcrunch">Techcrunch</label>
                </div>
    </div>
</div>