$sideOffset : 39px;
$pointerHeight : 10px;
$pointerWidth : 17px;

div.modui-popup {
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    z-index: 2000;
    background-color: #FFFFFF;
    font-family: 'Open sans', 'Arial';
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0;
    min-width: 50px;
    transition: opacity .1s linear; // if this fade time is changed also need to change kFadeTime
    padding: 3px; // need to have some padding otherwise back end of pointer pokes into content
    line-height: 1.4;
    border-top: 1px solid rgba(0,0,0,.08); // otherwise we have practically no contrast there.

    &[data-state='closed'] {
        display: block;
        opacity: 0;
    }

    &[data-state='repositioning'] {
        display: block;
    }

    &[data-state='open'] {
        display: block;
        opacity: .95;
    }

    &[data-state='closing'] {
        display: block;
        opacity: 0;
    }

    &:before {
        position: absolute;
        content: "";
        width: 11px;
        height: 11px;
        background-image: none;
        background-color: #FFFFFF;
        -webkit-transform: rotate( 45deg );
           -moz-transform: rotate( 45deg );
            -ms-transform: rotate( 45deg );
                transform: rotate( 45deg );
        z-index: 2;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
    }

    &.bottom {
        margin: $pointerHeight 0 0;

        &:before {
            background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
            background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* W3C */
        }
    }

    &.top {
        margin: 0 0 $pointerHeight;

        &:before {
            background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
            background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    }
    
    &.left.center {
        margin: 0 $pointerHeight 0 0;

        &:before {
            background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
            background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    }
    &.right.center {
        margin: 0 0 0 $pointerHeight;

        &:before {
            background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
            background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    }

    &.center {
        margin-left: -$pointerHeight;
    }

    /*--- Below ---*/
    &.bottom:before {
        border-top: 1px solid rgba(0,0,0,.1);
        border-left: 1px solid rgba(0,0,0,.1);
        border-top-left-radius: 3px;
    }

    &.bottom.center:before {
        margin-left: -6px;
        top: -6px;
        left: 50%;
        right: auto;
        bottom: auto;
    }

    &.bottom.right:before {
        top: -6px;
        right: $pointerWidth - 5px;
        bottom: auto;
        left: auto;
        margin-left: 0;
    }

    &.bottom.left:before {
        top: -($pointerHeight - 4px);
        left: $pointerWidth - 5px;
        right: auto;
        bottom: auto;
        margin-left: 0;
    }

    /*--- Above ---*/
    &.top:before {
        border-bottom: 1px solid rgba(0,0,0,.1);
        border-right: 1px solid rgba(0,0,0,.1);
        border-bottom-right-radius: 3px;
    }

    &.top.center:before {
        top: auto;
        right: auto;
        bottom: -($pointerHeight - 4px);
        left: 50%;
        margin-left: -($pointerHeight - 4px);
    }

    &.top.right:before {
        bottom: -($pointerHeight - 4px);
        right: $pointerWidth - 5px;
        top: auto;
        left: auto;
        margin-left: 0;
    }

    &.top.left:before {
        bottom: -($pointerHeight - 4px);
        left: $pointerWidth - 5px;
        top: auto;
        right: auto;
        margin-left: 0;
    }

    /*--- Left Center ---*/
    &.left.center:before {
        top: 50%;
        right: -($pointerHeight - 4px);
        bottom: auto;
        left: auto;
        margin-top: -($pointerWidth - 11px);
        border-top: 1px solid rgba(0,0,0,.1);
        border-right: 1px solid rgba(0,0,0,.1);
        border-top-right-radius: 2px;
    }

    /*--- Right Center  ---*/
    &.right.center:before {
        top: 50%;
        left: -($pointerHeight - 4px);
        bottom: auto;
        right: auto;
        margin-top: -($pointerWidth - 11px);
        border-bottom: 1px solid rgba(0,0,0,.1);
        border-left: 1px solid rgba(0,0,0,.1);
        border-bottom-left-radius: 2px;
    }

    div.html-contents {
        padding: 4px;
        min-width: 125px;
        max-width: 275px;
    }
}